@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font-family: 'Roboto', sans-serif;

  --colour-bg: #2a2d34;
  --colour-text: #fcf7ff;
  --colour-green: #748e54;
  --colour-brown: #9c914f;
  --colour-alert: #30c5ff;
  --colour-red: rgb(177, 0, 0);
  --colour-bg-light: #434853;

  background-color: var(--colour-bg);
  color: var(--colour-text);
}

.green {
  color: var(--colour-green);
}

.red {
  color: var(--colour-red);
}

header {
  display: flex;
  width: 100%;
  align-items: center;

  border-bottom: 5px solid var(--colour-green);
}

header a {
  color: var(--colour-green);

  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

header a:hover {
  text-decoration: none;
}

header ul {
  list-style: none;
  padding: 0;
}

header li {
  margin-left: 1rem;
  margin-right: 1rem;
}

article h1 {
  font-size: 2em;
}
a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: inherit;
  text-decoration: dashed;
}

.brand {
  font-size: 52px;
  font-weight: bold;

  margin-left: 2rem;
  padding-right: 2rem;

  border-right: solid 5px var(--colour-green);

  color: var(--colour-green);
}

main {
  padding-left: 5rem;
  padding-right: 5rem;
}

main > div,
main > article {
  flex-grow: 1;
}

button {
  color: white;
  background: var(--colour-green);
  border: none;
  text-decoration: none;
  align-self: flex-start;
}

button:hover:not(:disabled) {
  text-decoration: underline;
  background-color: var(--colour-brown);
  cursor: pointer;
}

button:disabled {
  color: var(--colour-bg-light);
}

svg.button-danger:hover {
  stroke: red;
  transition: 0.2s ease-in-out;
}

.button-danger:hover {
  transition: 0.2s ease-in-out;
}

.trash {
  cursor: pointer;
}
input {
  background: inherit;
  border: 2px solid var(--colour-green);
  outline: none;
  color: inherit;
  padding: 0.5rem;
}

input:focus {
  border-color: var(--colour-alert);
}

input:hover {
  border-color: var(--colour-brown);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-group > label {
  font-weight: bolder;
}

.input-group input.error {
  border-color: var(--colour-red);
}

span.error {
  color: var(--colour-red);
}

.card {
  min-width: 200px;
  max-width: 100%;

  background-color: var(--colour-bg-light);

  display: flex;
  flex-direction: column;

  margin: 1rem;
  padding: 0.5rem;

  border: solid 2px var(--colour-green);
  border-radius: 4px 4px 0;
  box-shadow: black 5px 5px 8px 0px;
  overflow: hidden;
}

.card .title {
  font-size: large;
  font-weight: bold;
}

.subtitle {
  font-size: small;
  font-weight: lighter;
}

.card span {
  margin-top: 0.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

tbody tr {
  padding-bottom: 0.2rem;
}

tbody tr td {
  padding-left: 0.4rem;
}

td {
  padding-right: 1rem;
}

thead tr td {
  font-weight: bold;
  padding-left: 0.4rem;
}

.spinner {
  display: flex;
  justify-content: center;
  animation: spin 1s infinite;
}
.spinnerPageLoad {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.spinner span {
  font-style: italic;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

hr {
  width: 100%;
}

/**
Pagination 
*/

.pageNav {
  display: flex;
  justify-content: center;
}

.pageNavL {
  font-size: medium;
}

.pageNavNotCurrent {
  font-size: medium;
}

.pageNavCurrent {
  color: var(--colour-bg);
  font-size: medium;
  font-weight: bold;
}

.pageNavR {
  font-size: medium;
}

.pageNavDots {
  font-size: medium;
}

/*
Modal
*/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.6);
}

.modal-content {
  background-color: var(--colour-bg-light);
  margin: 10% auto;
  padding: 10px;
  border: 1px solid var(--colour-green);
  width: 40%;
}

.modal-content hr {
  background-color: white;
}
/**
 * Utilities
 */

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 8px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 8px;
}

.mb-0 {
  margin-bottom: 0;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.h-auto {
  height: auto;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.ml-auto {
  margin-left: auto;
}

.block {
  display: block;
}

.no-list-style {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
